{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<!-- //banner -->

<section class="core-value py-5">
	<div class="container py-md-4">
		<div class="sph">
		<h3 class="heading mb-sm-5 mb-4 text-center"> About Us</h3>
	    </div>
		<div class="row core-grids">
			<div class="col-lg-6 core-left">
				
				<!-- <div class="abt">
				<img src="{{ url_for('static', filename='images/tea-plantation.jpg') }}" class="img-fluid" alt="" />
			    </div> -->

				<div class="artboard">
					<div class="card">
				   
					 <div class="card__side card__side--back">
					  <div class="card__cover">
					   <h4 class="card__heading">
						<span class="card__heading-span">Skill Set</span>
					   </h4>
					  </div>
					  <div class="card__details">
					   <ul>
						<li>Advanced JS and CSS</li>
						<li>JS/CSS Preprocessors</li>
						<li>JS Frameworks</li>
						<li>Advanced Animations</li>
						<li>Deployment Pipelines</li>
						<!-- <li>Large Apps Architectures</li>
						<li>Naming Conventions</li>
					   </ul> -->
					  </div>
					 </div>
				   
					 <div class="card__side card__side--front">
					  <div class="card__theme">
					   <div class="card__theme-box">
						<p class="card__subject">Web Developer</p>
						<p class="card__title">Hello World!</p>
					   </div>
					  </div>
					 </div>
				   
					</div>
				   </div>

			</div>
			<div class="col-lg-6 core-right">
				<h3 class="mt-4">Improving Agriculture, Improving Lives, Cultivating Crops To Make Farmers Increase
					Profit.</h3>
				<p class="mt-3">We use state-of-the-art machine learning and deep learning technologies to help you
					guide through
					the entire farming process. Make informed decisions to understand the demographics of your area,
					understand the
					factors that affect your crop and keep them healthy for a super awesome successful yield.</p>
					
					<h3 class="mt-4">Improving Agriculture, Improving Lives, Cultivating Crops To Make Farmers Increase
						Profit.</h3>
					<p class="mt-3">We use state-of-the-art machine learning and deep learning technologies to help you
						guide through
						the entire farming process. Make informed decisions to understand the demographics of your area,
						understand the
						factors that affect your crop and keep them healthy for a super awesome successful yield.</p><br>
					<a href="{{ url_for('contact') }}" class="btn btn-outline-success">Contact Us</a>
			</div>
			
		</div>
	</div>
</section>

<!-- core values -->
<div class="about-section">
	<!-- <h1>About Us Page</h1> -->
	<div class="sph">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Vision</h3>
		</div>
	<p>Some text about who we are and what we do.</p>
	<p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <!-- <h3 class="heading sph">Our Team</h3> -->
  <div class="sph">
	<h3 class="heading mb-sm-5 mb-4 text-center"> Our Team</h3>
	</div>
  <div class="row">

	<!-- <div class="column">
	  <div class="card">
		<img src="{{ url_for('static', filename='images/bg1.jpg') }}" alt="Jane" style="width:100%">
		<div class="container">
		  <h2>Jane Doe</h2>
		  <p class="title">CEO & Founder</p>
		  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		  <p>jane@example.com</p>
		  <p><button class="button">Contact</button></p>
		</div>
	  </div>
	</div> -->
  
	<div class="column22">
	  <div class="card22">
		<img src="{{ url_for('static', filename='images/bg1.jpg') }}" alt="Mike" style="width:100%; height: 400px;">

		<div class="container22">
		  <h2>Abhishek</h2>
		  <p class="title">Art Director</p>
		  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		  <p>mike@example.com</p>
		  <p><button class="button">Contact</button></p>
		</div>

		<div class="container22">
			<h2>Annu</h2>
			<p class="title">Art Director</p>
			<p>Some text that describes me lorem ipsum ipsum lorem.</p>
			<p>mike@example.com</p>
			<p><button class="button">Contact</button></p>
		  </div>

		  <div class="container22">
			<h2>Anshuman</h2>
			<p class="title">Art Director</p>
			<p>Some text that describes me lorem ipsum ipsum lorem.</p>
			<p>mike@example.com</p>
			<p><button class="button">Contact</button></p>
		  </div>

	  </div>
	</div>
<!-- 	
	<div class="column">
	  <div class="card">
		<img src="{{ url_for('static', filename='images/bg1.jpg') }}" alt="John" style="width:100%">
		<div class="container">
		  <h2>John Doe</h2>
		  <p class="title">Designer</p>
		  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		  <p>john@example.com</p>
		  <p><button class="button">Contact</button></p>
		</div>
	  </div>
	</div>-->
  </div> 
<!-- //core values -->

  <!-- progress js -->


<!-- Products & Services -->

<!-- //Products & Services -->
</html>

{% endblock %}